@import 'src/scss/styles';

.container {
	margin: 0 auto;
	padding: 2rem 0;
	background-color: $darkgrey;
	color: $offwhite;
	display: flex;
	align-items: center;
	transition: background-color .2s $easeOutCubic;

	&.advanced {
		background-color: $darkergrey;
	}

	.logo {
		img {
			animation: Homepage-logo-spin infinite 20s linear;
			height: 8rem;
		}	
	}

	.content {
		color: white;
	}

	button {
		margin: 1.5rem 1rem 0;
	}
}