@import '../scss/styles';

.container {
	margin: 0 auto;
	background-color: $darkgrey;
	color: $offwhite;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		@include span(2);
		padding: 2rem 0;

		.logo-img {
			animation: Homepage-logo-spin infinite 20s linear;
			height: 8rem;
		}	
	}

	.content {
		@include span(10);
		padding: 2rem;
		color: white;
	}
}